<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>youngbloodcyb</title>
</head>

<body>

  <div class="">

    <nav class="">
      <a class="" href="/">youngbloodcyb</a>
      <ul class="">
        <li class="">
          <a class="" href="/about">About</a>
        </li>
        <li class="">
          <a class="" href="/data">Data</a>
        </li>
        <li class="">
          <a class="" href="/books">Books</a>
        </li>
      </ul>
    </nav>